<!-- views/partials/footer.ejs -->
<footer class="footer">
  <div class="container">
    <p class="text-center text-muted">
      © Copyright 2020 <a href="#">ABC logistics Company</a>
    </p>
  </div>
</footer>
