<form id="search-form" method="POST" action="/drivers">
  <div class="col-xs-2">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Location (City)</span>
      </div>
      <input
        type="text"
        class="form-control"
        id="search"
        name="search"
        aria-describedby="basic-addon3"
      />
    </div>

    <div class="col-xs-4">
      <div class="input-group sm-4 mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">Radius (Miles)</span>
        </div>
        <input
          type="number"
          class="form-control"
          id="radius"
          name="radius"
          aria-describedby="basic-addon3"
        />
      </div>
    </div>

    <button type="submit" type="button" class="btn btn-success">Search</button>
  </div>
</form>
