<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>

  <body>
    <% include ../partials/nav %>

    <!-- content for about page -->
    <div class="container" id="about">
      <div class="row">
        <h2 class="text-center">About Drivers <%= title %></h2>
        <div class="col-xs-12"></div>
        <% include ../partials/list_table %>
      </div>
    </div>
    <!-- end of content -->

    <% include ../partials/footer %> <% include ../partials/scripts %>
  </body>
</html>
